# global
*.old
*.bck
*.back
*.orig

# ssl
ssl/**
!ssl/empty

# sites-enabled
sites-enabled/**
!sites-enabled/empty

# sites-available
sites-available/**
!sites-available/localhost.conf

# logs
logs
logs/**

# geoip
#geoip/**
#!geoip/empty

# modules
modules
modules/**

# conf.d
conf.d/default.conf
conf.d/ssl.conf
conf.d/manual.conf
conf.d/welcome.conf

# base files
fastcgi_params
koi-utf
koi-win
mime.types
scgi_params
uwsgi_params
win-utf
